body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

nav ul li a.active {
    color: #4CAF50; /* Cambia el color a verde para indicar la página activa */
    font-weight: bold;
}


nav {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header, footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}